@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-website;
  padding-top: 6rem;
margin: 0 auto;
}

.active {
  font-weight: 600;
  font-style: italic;
}
